/* the styles for the elements */
* {
  margin: 0;
  padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 99%;
  max-width: 960px;
  margin: 0 auto;
  border: 3px solid #931420;
  background-color: #fffded;
}
h1{
  font-size: 150%;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-top: 0;
  margin-bottom: 0;
}
#nav_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
#nav_menu ul li {
  float: left;
  width: 20%;                 /* 160 / 800 x 100 */
}
#nav_menu ul li a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  background-color: #800000;
  color: white;
  font-weight: bold;
}
#nav_menu a.current {
  color: yellow;
}
#nav_menu ul ul {
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
}
#nav_menu ul ul li {
  float: none;
}
#nav_menu ul li:hover > ul {
  display: block;
}
#nav_menu > ul::after {
  content: "";
  clear: both;
  display: block;
}
section{
  width: 65%;
  float: right;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 20px;
}
aside{
  width: 29%;
  float: right;
  padding-left: 2%;
  padding-bottom: 20px;
}
/* the styles for the header */
header {
  padding-top: 1.5em;
  padding-bottom: 2em;
  background: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
	float: left;
  padding-left: 3%;
  padding-right: 3%;
}

/* the styles for the section */
main {
	clear: left;
  background-color: #fffded;
}
section h2 {
  font-size: 130%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
aside {
  float: left;
}
aside h2 {
  font-size: 130%;
  color: #800000;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
}
aside h3 {
  font-size: 105%;
  padding-bottom: 0.25em;
}
aside img {
  padding-bottom: 1em;
}
section p {
  padding-bottom: 0.5em;
}
section blockquote {
  padding-left: 2em;
  padding-right: 2em;
  font-style: italic;
}
section ul {
  padding-bottom: 0.25em;
  padding-left: 1.25em;
  list-style-type: circle;
}
section li {
  padding-bottom: 0.35em;
}
article {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 2px solid #800000;
  border-bottom: 2px solid #800000;
}
article h2{
  padding-top: 0;
}
article h3{
  font-size: 105%;
  padding-bottom: 0.25em;
}
article img{
  float: right;
  margin: 1px 2px;
  border: 1px solid black;
  max-width: 40%;
  min-width: 150px;
}
#mobile_menu {
  display: none;
}
@media only screen and (max-width: 959px){
  h1{
    font-size: 135%;
  }
  aside h2 {
    font-size: 120%;
  }
}
@media only screen and (max-width: 767px) {
  header img {
    float: none
  }
  section {
    float: none;
    width: 96%;
  }
  aside {
    float: none;
    padding-right: 2%;
    width: 96%;
  }
  article img {
    max-width: 30%;
  }
  #speakers {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  #nav_menu {
    display: none;
  }
  #mobile_menu {
    display: block;
  }
  .slicknav_menu {
    background-color: #800000 !important;
  }
}
@media only screen and (max-width: 479px) {
  body { font-size: 90%; }
}
a:hover {
  font-style: italic;
}
footer {
  clear: right;
  border-bottom: 3px solid #931420;
  background-color: #931420;
}
footer p {
  text-align: center;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}
.shadow {

  text-shadow: 1px 1px 1px #800000;
}
/* the styles for the footer */
